---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";

const projects = [
  {
    title: "HOSTPALACE",
    banner:
      "https://firebasestorage.googleapis.com/v0/b/sampleproject-31206.appspot.com/o/hostpalace.png?alt=media&token=438f701d-9f97-4840-8513-23b2cccb71da",
    protected: false,
    role: "Web Developer",
    stack: ["VueJS", "TailwindCSS", "ViteJS", "Typescript", "Strapi"],
    redirectUrl: "https://host-palace.com/",
    desc: `Landing for a Web Solution Private Limited - Indian Web Hosting Company.`,
  },
  {
    title: "Denzel Escoto - Portfolio",
    banner:
      "https://firebasestorage.googleapis.com/v0/b/sampleproject-31206.appspot.com/o/Screenshot%202024-05-16%20at%2010.36.57%E2%80%AFPM.png?alt=media&token=d06863e0-4c75-40c4-a4f6-aec5c401acdf",
    protected: false,
    role: "Lead Web Developer",
    stack: ["NuxtJS", "VueJS", "TailwindCSS", "ViteJS", "Typescript"],
    redirectUrl: "https://denzelescoto.vercel.app/",
    desc: `A user interface and user experience engineer's web portfolio for Denzel Escoto. A designer who craft a good experience for over 4 years of experience. Specializes in FIGMA.`,
  },
  {
    title: "KromaBoard",
    banner:
      "https://firebasestorage.googleapis.com/v0/b/sampleproject-31206.appspot.com/o/kromaboard.png?alt=media&token=93185ee1-765f-423a-9915-4860d78ef73d",
    protected: false,
    role: "Solo Full Stack Developer",
    stack: ["Astro", "VueJS", "Supabase", "Vercel", "SendGrid", "Typescript"],
    redirectUrl: "https://kromaboard.vercel.app/",
    desc: `A sales tracking and inventory system that grows with your business \ Grow your dashboard as you grow your business`,
  },
  //TODO: Add more projects
  // 1. COTIT.IO Landing Page
  // 2. VIATAG Admin Dashboard
  // 3. VIMDESK Mobile Application
  // 4. NEONLIFE Landing Page
  // 5. NEONLIFE iOS
  // 6. NEON AI Builder
  // 7. THRIVE Android (In-device AI)
];
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="flex justify-center mb-10">
      <a href="https://app.daily.dev/romeoangelesjr"
        ><img
          class="w-full"
          src="https://api.daily.dev/devcards/v2/iGo5aeTE4EVvxH2gBN2Ae.png?type=wide&r=72h"
          alt="Romeo Angeles JR's Dev Card"
        /></a
      >
    </div>
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Romeo Angeles Jr</div>
    <div class="text-3xl py-3 font-bold">Software Engineer</div>
    <div class="py-2 mb-14">
      <text class="text-lg">
        I'm a UI engineer who crafts pixel-perfect interfaces using cutting-edge
        frameworks with React and Vue ecosystem. Let's build something amazing
        together!
      </text>
      <div class="mt-8">
        <a
          class="btn"
          href="https://www.linkedin.com/in/romeo-angeles-jr-a88a021a9/"
          target="_blank"
        >
          Let's connect!</a
        >
        <a
          href="https://github.com/OwlRepo"
          target="_blank"
          class="btn btn-outline ml-5"
        >
          My Github
        </a>
      </div>
    </div>

    <div>
      <div
        class="text-3xl w-full font-bold mb-5 md:mb-3 text-center md:text-start"
      >
        My last projects {"</>"}
      </div>
    </div>

    {
      projects.reverse().map((project) => (
        <>
          <HorizontalCard
            title={project.title}
            img={project.banner}
            desc={project.desc}
            url={project.redirectUrl ? project.redirectUrl : "#"}
            badge={project.protected ? "No Preview" : ""}
            tags={project.stack}
          />
          <div class="divider my-0" />
        </>
      ))
    }
    <!-- 
  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  <div class="text-center text-md p-10 text-gray-400">
    In progress of creating the first one ... ✍🏻
  </div>
  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
  </div>
</BaseLayout>
